# Cấu hình địa chỉ NestJS Backend (mặc định cổng 3001)
AUTH_SERVER_URL="http://localhost:3001"

# Cấu hình địa chỉ Frontend Next.js (mặc định cổng 3000)
NEXT_PUBLIC_BETTER_AUTH_URL="http://localhost:3000"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
